<ion-view view-title="{{ 'mm.settings.about' | translate }}" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item">
                <h2>ระบบงานวัดผลวิทยาลัยอาชีวศึกษาขอนแก่น<br></h2>
                <!-- <h2>{{appname}} {{versionname}}</h2> -->
				<p> ระบบการทดสอบ V-NET เป็นการสอบวัดมาตรฐานทางวิชาการ และวิชาชีพ<br>
				        ซึ่งจะเป็นประโยชน์แก่ต้นสังกัด และ สถานศึกษาในการที่จะทราบมาตรฐาน<br>
					    การเรียนการสอนของครู  และ นักศึกษา ผลการทดสอบ V-NET สามารถ<br>
						นำไปใช้ในการปรับปรุง พัฒนาการเรียนการสอนของครูอันจะส่งผลให้<br>
						ผลสัมฤทธิ์ทางการเรียนของนักศึกษาสูงขึ้นได้รวมทั้งการนำผลการสอบ <br>
						V-NET ไปใช้ในการประกันคุณภาพการศึกษาด้วย</p>
				<p><a href="http://eva.kvc.ac.th" mm-link auto-login="no">เว็บไซต์ระบบงานวัดผล<br></a></p>
            </li>
			  <li class="item item-divider">
                <p>ผู้ดูและระบบ<br></p>
				 <p>KVC ICT TEAMS</p>
            </li>
            <!--  <li class="item item-divider">
                <p>{{ 'mm.settings.license' | translate }}</p>
            </li>-->
            <!--<li class="item item-text-wrap">
                <h2>www.kvc.ac.th</h2>
                <p><a href="http://www.apache.org/licenses/LICENSE-2.0" mm-link auto-login="no">http://www.apache.org/licenses/LICENSE-2.0</a></p>
            </li> -->  
        </ul>
    </ion-content>
</ion-view>
